body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.activeCompPage {
    text-align: center;
}

.activeCompPage-img {
    height: 380px;
    width: 390px;
}

.activeCompPage-title {
    font-size: 1.5em;
}

.activeCompPage-button{

}