body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.compForm {
    text-align: center;
}

.compForm-table{
    width: 100%;
    padding: 15px;
    align-content: center;
}

.compForm-td{
    width: 50%;
}

.compForm-title{
    font-size: 1.5em;
}