body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.createCompPage {
    text-align: center;
}

.createCompPage-img {
    height: 380px;
    width: 390px;
}

.createCompPage-title {
    font-size: 1.5em;
}

.createCompPage-newDiv{
    position: absolute;
    width: 40%;
    height: 30%;
    left: 50%;
    top: 50%;
    margin-left: -20%;
    margin-top: -15%;
    background: #d1ffee;
    padding: 10px;
    overflow: auto;
    /*display: none;*/
}

.createCompPage-input{

}

.createCompPage-button{

}