body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.editProfilePage {
    text-align: center;
}

.editProfilePage-img {
    height: 380px;
    width: 390px;
}
.editProfilePage-title {
    font-size: 1.5em;
}
.editProfilePage-button{

}