body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.headerPageLeft {
    text-align: left;
}

.headerPageMid {
    text-align: left;
    vertical-align: top;
}

.headerPageRight {
    text-align: right;
}

.headerPage-img {
    height: 380px;
    width: 390px;
}

.headerPage-title {
    font-size: 1.5em;
}

.headerPage-button {
    height: 50px;
    width: 150px;
}

.headerPage-table{
    width: 100%;
}

.headerPage-td{

}