body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.invitesPage {
    text-align: center;
}

.invitesPage-img {
    height: 380px;
    width: 390px;
}
.invitesPage-title {
    font-size: 1.5em;
}
.invitesPage-button{

}
.invitesPage-input{

}