body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.prevCompPage {
    text-align: center;
}

.prevCompPage-img {
    height: 380px;
    width: 390px;
}
.prevCompPage-title {
    font-size: 1.5em;
}