body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.profilePageLeft {
    text-align: left;
}

.profilePageMid {
    text-align: left;
    vertical-align: top;
}

.profilePageRight {
    text-align: right;
}

.profilePage-img {
    height: 380px;
    width: 390px;
}

.profilePage-title {
    font-size: 1.5em;
}

.profilePage-button {
    height: 50px;
    width: 150px;
}

.profilePage-table{
    width: 100%;
}

.profilePage-td{

}
