body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.registrationPage {
    text-align: center;
}

.registrationPage-img {
    height: 380px;
    width: 390px;
}
.registrationPage-title {
    font-size: 1.5em;
}
.registrationPage-button{

}
.registrationPage-input{

}