body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.signInPage {
    text-align: center;
}

.signInPage-img {
    height: 380px;
    width: 390px;
}
.signInPage-title {
    font-size: 1.5em;
}
.signInPage-button{

}
.signInPage-input{

}