body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.transactionsPage {
    text-align: center;
}

.transactionsPage-img {
    height: 380px;
    width: 390px;
}
.transactionsPage-title {
    font-size: 1.5em;
}