body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.votingPage {
    text-align: center;
}

.votingPage-img {
    /*height: 380px;*/
    /*width: 390px;*/
}

.votingPage-divVote{

}
.votingPage-range{

}
.votingPage-button{

}